@model IEnumerable<campingplan.Models.cvmGetDataList>

@{
    var isclose = ViewBag.isclose;
    ViewBag.Title = "GetDataList";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="col-9">
    <div class="col-12 d-flex">
        <div class="line bg-info mr-2"></div>
        @{
            if (isclose == 0)
            {
                <h4>未結訂單</h4>
            }
            else
            {
                <h4>歷史訂單</h4>
            }
        }
    </div>
    <div class="col-lg-12 mb-2">
        <div class="card carditem">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-2 align-self-center">
                        <p class="m-0">管理</p>
                    </div>
                    <div class="col-2 align-self-center">
                        <p class="m-0">訂單編號</p>
                    </div>
                    <div class="col-2 align-self-center">
                        <p class="m-0">收件人</p>
                    </div>
                    <div class="col-1 align-self-center">
                        <p class="m-0">訂單狀態</p>
                    </div>
                    <div class="col-1 align-self-center">
                        <p class="m-0">付款方式</p>
                    </div>
                    <div class="col-2 align-self-center">
                        <p class="m-0">訂單日期</p>
                    </div>
                    <div class="col-2 align-self-center">
                        <p class="m-0">備註</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-lg-12 mb-2">
            <div class="card carditem">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-2 align-self-center">

                            <a href="@Url.Action("OrderProductDetail","Members",new { order_rowid = item.rowid })" class="i-act pr-1 text-info">
                                <i class="fas fa-edit"></i>
                            </a>

                            @if (isclose == 0)
                            {
                                <a href="@Url.Action("ReturnProduct","Members",new { order_rowid = item.rowid })" class="i-act pr-1 text-info">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a href="@Url.Action("CancelOrder","Members",new { order_rowid = item.rowid })" class="i-act pr-1 text-info">
                                    <i class="fas fa-edit"></i>
                                </a>
                            }
                        </div>
                        <div class="col-2 align-self-center">
                            <p>@item.order_no</p>
                        </div>
                        <div class="col-2 text-center align-self-center">
                            <p>@item.receive_name</p>
                        </div>
                        <div class="col-1 align-self-center">
                            <p>@item.status_name</p>
                        </div>
                        <div class="col-1 align-self-center">
                            <p>@item.payment_name</p>
                        </div>
                        <div class="col-2 align-self-center">
                            <p>@item.order_date</p>
                        </div>
                        <div class="col-2 align-self-center">
                            <p>@item.remark</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>


