@using campingplan.App_Class;

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/logo/logo-06.png")" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>

    <link href="@Url.Content("~/Content/camping/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker3.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/easion/css/easion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src=@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/camping/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/locales/bootstrap-datepicker.zh-TW.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment-with-locales.min.js")">55</script>
    <script src="@Url.Content("~/easion/js/easion.js")"></script>
    <script src="@Url.Content("~/Scripts/Chart.min.js")"></script>
    <script src="@Url.Content("~/easion/js/chart-js-config.js")">55</script>

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-3">
        <a class="navbar-brand js-scroll-trigger p-0" href="index.html">
            <img src="~/Content/images/logo/logo-04.png" alt="" class="" height="45px" />
        </a>
        <h5 class="d-inline m-0 pt-2">@Html.ActionLink("後台管理專區", "Index", "Admin", new { Area = "Admin" }, new { @class = "easion-logo side-logo" })</h5>
        <p class=" d-inline m-0 pt-2">目前位置： @ViewBag.Title</p>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                @if (UserAccount.IsLogin)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            個人帳號
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("帳號明細", "AdminProfile", "Admin", new { Area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("重設密碼", "ResetPassword", "User", new { Area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item">
                        <span class="nav-link"></span>
                        <div class="">

                        </div>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("登出", "Logout", "User", new { area = "" }, new { @class = "nav-link" })
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        @Ajax.ActionLink("登入", "Login", "User", new { area = "" }, new AjaxOptions { OnSuccess = "showDialogLogin", HttpMethod = "GET" }, new { @class = "nav-link" })
                    </li>

                }

            </ul>
        </div>
    </nav>

    <div class="modal fade mt-5" id="showLogin"></div>
    <div class="modal fade" id="showRegister"></div>

    <div class="dash">
        <div class="dash-nav dash-nav-dark bg-primary">
            <header>
                <a href="#" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>

            </header>

            <nav class="dash-nav-list">
                <div class="text-center">
                    <img src="@Url.Content(UserAccount.UserImageUrl)" class="user-logo-image img-fluid people" style=" width:90px;" />
                </div>
                <div class="dash-nav-item text-white" style="padding-left:40px;">

                    <p class="my-1">HI! @UserAccount.UserNo @UserAccount.UserName</p>
                </div>

                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-shopping-cart"></i> 會員訂單管理
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("未結訂單管理", "Index", "Orders", new { Area = "Admin", id = 0, code = 0 }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("歷史訂單查詢", "Index", "Orders", new { Area = "Admin", id = 0, code = 1 }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-user-friends"></i> 會員資料管理
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("待審會員列表", "Index", "Member", new { Area = "Admin", id = 0 }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("正式會員列表", "Index", "Member", new { Area = "Admin", id = 1 }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("所有會員列表", "Index", "Member", new { Area = "Admin", id = 2 }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-user-tie"></i> 廠商資料管理
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("待審廠商列表", "Index", "Vendor", new { Area = "Admin", id = 0 }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("正式廠商列表", "Index", "Vendor", new { Area = "Admin", id = 1 }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("所有廠商列表", "Index", "Vendor", new { Area = "Admin", id = 2 }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>
                <div class="dash-nav-dropdown ">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-server"></i> 基本資料管理
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        <div class="dash-nav-dropdown ">
                            @Html.ActionLink("公司資料設定", "Index", "Company", new { Area = "Admin" }, new { @class = "dash-nav-dropdown-item side-menu" })
                            @Html.ActionLink("商品分類設定", "Index", "Category", new { Area = "Admin" }, new { @class = "dash-nav-dropdown-item side-menu" })
                            @Html.ActionLink("付款方式設定", "Index", "Payment", new { Area = "Admin" }, new { @class = "dash-nav-dropdown-item side-menu" })
                            @Html.ActionLink("運送方式設定", "Index", "Shipping", new { Area = "Admin" }, new { @class = "dash-nav-dropdown-item side-menu" })
                            @Html.ActionLink("訂單狀態設定", "Index", "Status", new { Area = "Admin" }, new { @class = "dash-nav-dropdown-item side-menu" })
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="dash-app bg-white">
            <main class="dash-content bg-white">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>

                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
