@using campingplan.App_Class;

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/logo/logo-06.png")" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>廠商後台-營火計畫</title>

    <link href="@Url.Content("~/Content/camping/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker3.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/easion/css/easion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/camping/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/locales/bootstrap-datepicker.zh-TW.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment-with-locales.min.js")">55</script>
    <script src="@Url.Content("~/easion/js/easion.js")"></script>
    <script src="@Url.Content("~/Scripts/Chart.min.js")"></script>
    <script src="@Url.Content("~/easion/js/chart-js-config.js")">55</script>


    <style>
        * {
            font-family: 微軟正黑體;
            list-style: none;
        }

        a:hover {
            text-decoration: none;
        }

        .people {
            border-radius: 30px 30px 30px 30px;
        }

        .dash-nav {
            padding-top: 6rem;
        }
        .dash-app{
            margin-top:0px;
        }

        .navbarshadow {
            -webkit-box-shadow: 0 8px 6px -6px #444;
            -moz-box-shadow: 0 8px 6px -6px #555;
            box-shadow: 0 8px 6px -6px #999;
        }
    </style>

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-3 navbarshadow">
        <a class="navbar-brand js-scroll-trigger p-0" href="@Url.Action("Index", "Vendor", new { Area = "Vendor" })" id="navbr">
            <img src="@Url.Content("~/Content/images/logo/logo-04.png")" alt="營火計畫" style="height:45px;" />
        </a>
        <h5 class="d-inline m-0 pt-2 easion-logo side-logo">廠商專區</h5>
        <p class=" d-inline m-0 pt-2">目前位置： @ViewBag.Title</p>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                @if (UserAccount.IsLogin)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="far fa-user-circle h5"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-right ">
                            <li class="dropdown-item ">
                                <i class="far fa-file-alt pr-2"></i>@Html.ActionLink("帳號明細", "VendorProfile", "Vendor", new { Area = "Vendor" }, new { @class = "" })
                            </li>
                            <li class="dropdown-item">
                                <i class="fas fa-key" style="padding-right:1px;"></i> @Html.ActionLink("重設密碼", "ResetPassword", "User", new { Area = "" }, new { @class = "" })
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("登出", "Logout", "User", new { area = "" }, new { @class = "nav-link" })
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        @Ajax.ActionLink("登入", "Login", "User", new { area = "" }, new AjaxOptions { OnSuccess = "showDialogLogin", HttpMethod = "GET" }, new { @class = "nav-link" })
                    </li>

                }

            </ul>
        </div>
    </nav>

    <div class="modal fade mt-5" id="showLogin"></div>
    <div class="modal fade" id="showRegister"></div>

    <div class="dash">
        <div class="dash-nav dash-nav-dark bg-primary">
            <nav class="dash-nav-list">
                <div class="text-center">
                    <img src="@Url.Content(UserAccount.UserImageUrl)" class="user-logo-image img-fluid people" style=" width:90px;" />
                </div>
                <div class="text-white pb-3" style="padding-left:40px;">
                    <p class="my-1">HI! @UserAccount.UserNo @UserAccount.UserName</p>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-shopping-cart"></i> 廠商訂單查詢
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("未結訂單查詢", "Index", "Orders", new { Area = "Vendor", id = 0 }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("歷史訂單查詢", "Index", "Orders", new { Area = "Vendor", id = 1 }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-server"></i> 商品資料管理
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("商品資料維護", "Index", "Products", new { Area = "Vendor" }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>

            </nav>
        </div>
        <div class="dash-app bg-white">
            <main class="dash-content">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>

                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
