@model campingplan.Models.cvmLogin
@using campingplan.App_Class

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 營火計畫</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/camping/bootstrap.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" />

    @*擴充自己的css script*@
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/camping/jquery-3.5.1.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#Vermodal').modal();
        })
    </script>
    <style>
        * {
            font-family: 微軟正黑體;
        }

        header.masthead {
            padding-top: 20rem;
            padding-bottom: calc(20rem - 4.5rem);
            background: linear-gradient( to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100% ), url("/img/bg-1.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: auto;
        }

        .navbar {
            -webkit-box-shadow: 0 8px 6px -6px #444;
            -moz-box-shadow: 0 8px 6px -6px #555;
            box-shadow: 0 8px 6px -6px #777;
        }

        .divider {
            max-width: 15rem;
            border-width: 0.2rem;
            border-color: rgb(7, 161, 189);
        }

        .i-size {
            font-size: 4rem;
            color: rgb(7, 161, 189);
        }

        .mowh {
            max-width: 70%;
        }

        header.masthead {
            padding-top: 20rem;
            padding-bottom: calc(20rem - 4.5rem);
            background: linear-gradient( to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100% ), url("/Content/images/bg/bg-1.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: auto;
        }

        .divider {
            max-width: 15rem;
            border-width: 0.2rem;
            border-color: rgb(7, 161, 189);
        }

        .i-size {
            font-size: 4rem;
            color: rgb(7, 161, 189);
        }
    </style>


</head>
<body>
    <!-- navbar-expand-lg 是指在 lg 範圍以上才會直接展開選項 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top py-3">
        <a class="navbar-brand js-scroll-trigger p-0" href="#">
            <img src="~/Content/images/logo/logo-04.png" alt="" class="" height="45px;" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto my-2 my-lg-0">
                <li class="nav-item active">
                    <a class="nav-link js-scroll-trigger text-info" href="#">購物商城</a>
                </li>
                <li class="nav-item text-info">
                    <a class="nav-link js-scroll-trigger text-info" href="#">營火傳遞</a>
                </li>
                <li class="nav-item text-info">
                    <a class="nav-link js-scroll-trigger text-info"
                       href="#"
                       aria-disabled="true">關於我們</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (UserAccount.IsLogin)
                {
                    <li class="nav-item">
                        <span class="nav-link">@UserAccount.UserInfo</span>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("登出", "Logout", "User", null, new { @class = "nav-link" })
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        @Ajax.ActionLink("登入", "Login", "User", null, new AjaxOptions { OnSuccess = "showDialogLogin", HttpMethod = "GET" }, new { @class = "nav-link" })
                    </li>

                }

            </ul>
        </div>
    </nav>

    <header class="masthead">
        <div class="container">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-start">
                    <h1 class="text-uppercase text-white font-weight-bold">
                        現在出發冒險去
                    </h1>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="font-weight-light mb-5">打造獨一無二的露營計畫</p>
                </div>
                <div class="col-8 col-lg-8 bg-white">
                    <ul class="nav justify-content-start nav-tabs mt-2 border-info">
                        <li class="nav-item">
                            <a href=""
                               class="nav-link text-black mr-1 active"
                               data-toggle="tab">露營地</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-black mr-1" data-toggle="tab">裝備</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link text-black mr-1" data-toggle="tab">活動</a>
                        </li>
                    </ul>
                    <div class="input-group my-2">
                        <input type="text" class="form-control col-lg-8" />
                        <a href="#" class="col-lg-4 btn btn-info btn-block m-0">搜尋</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-5"><h4>露營輕鬆愜意</h4></div>
            <hr class="col-lg-12 divider mt-0 mb-4" />
        </div>
        <div class="row mb-5 text-center">
            <div class="col-4">
                <i class="fas fa-campground i-size my-3"></i>
                <h3>營地</h3>
                應當貼布家人，失去刺激我只直接轉換做法供應商聯想我就重大手上直接聽到，女士武器。
            </div>
            <div class="col-4">
                <i class="fas fa-shopping-bag i-size my-3"></i>
                <h3>裝備</h3>
                時期行動美元開了節省依舊如果您轉變，把我放棄保留表達取得中心短信幫你，能源人家。
            </div>
            <div class="col-4">
                <i class="fas fa-ticket-alt i-size my-3"></i>
                <h3>行程</h3>
                家裡人群包裝前來成本主題幾乎官方庫存最快適應力道清楚，總部很熱簡體主動，渠道小。
            </div>
        </div>

    </div>
    @RenderBody()

    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">
                &copy; @DateTime.Now.Year - Start Bootstrap
            </div>
        </div>
    </footer>



    <script src="@Url.Content("~/Scripts/camping/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/camping/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/camping/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

</body>
</html>

