@using campingplan.App_Class

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 營火計畫</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/camping/bootstrap.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" />

    @*擴充自己的css script*@
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Scripts/camping/jquery-3.5.1.min.js")"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                // check if scroll event happened
                if ($(document).scrollTop() > 10) {
                    // check if user scrolled more than 50 from top of the browser window
                    $(".navbar-fixed-top").css("background-color", "#f8f8f8");
                    $("nav").addClass("navbarshadow");
                    $("a").addClass("text-info");
                    $("#dropdown").removeClass("bg-dark");
                    // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                } else {
                    $(".navbar-fixed-top").css("background-color", "transparent");
                    $("nav").removeClass("navbarshadow");
                    $("a").removeClass("text-info");
                    $("#dropdown").addClass("bg-dark");
                    // if not, change it back to transparent
                }
            });
        });
    </script>

    <script type="text/javascript">
        function showDialogLogin(data) {
            $("#showLogin").html(data);
            $("#showLogin").modal('show');
        }
        function showDialogRegister(data) {
            $("#showRegister").html(data);
            $("#showLogin").modal('hide');
            $("#showRegister").modal('show');
        }
    </script>




    <style>
        * {
            font-family: 微軟正黑體;
        }

        #carousel-1,
        #carousel-2,
        #carousel-3 {
            padding-top: 20rem;
            padding-bottom: calc(20rem - 4.5rem);
        }

        #carousel-1 {
            background: linear-gradient( to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100% ), url("/img/bg/bg-1.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
        }

        #carousel-2 {
            background: linear-gradient( to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100% ), url("/img/bg/bg-2.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
        }

        #carousel-3 {
            background: linear-gradient( to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100% ), url("/img/bg/bg-4.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
        }

        .carousel-caption {
            top: 35%;
        }

        .navbar-light .navbar-nav .nav-link {
            color: white;
        }

        .navbarshadow {
            -webkit-box-shadow: 0 8px 6px -6px #444;
            -moz-box-shadow: 0 8px 6px -6px #555;
            box-shadow: 0 8px 6px -6px #777;
        }

        .divider {
            max-width: 15rem;
            border-width: 0.2rem;
            border-color: rgb(7, 161, 189);
        }

        .i-size {
            font-size: 4rem;
            color: rgb(7, 161, 189);
        }

        .navFixed {
            z-index: 10;
            position: fixed;
            top: 0;
            left: 0;
            margin-top: 0;
            min-width: 100%;
            transition: opacity 0.5s ease-out;
            background-color: white;
        }
    </style>


</head>
<body>
    <!-- navbar-expand-lg 是指在 lg 範圍以上才會直接展開選項 -->
    <nav class="navbar navbar-expand-lg navbar-light py-3 fixed-top navbar-fixed-top"
         id="navsr">
        <a class="navbar-brand js-scroll-trigger p-0" href="#" id="navbr">
            <img src="~/Content/images/logo/logo-04.png" alt="" class="" height="45px" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto my-2 my-lg-0">
                <li class="dropdown nav-item">
                    <a href="#"
                       data-toggle="dropdown"
                       class="dropdown-toggle nav-link js-scroll-trigger atextcolor">購物商城</a>
                    <ul id="dropdown"
                        class="dropdown-menu bg-dark"
                        role="menu"
                        aria-labelledby="tutorial">
                        @{
                            var lists1 = Shop.Getategorys(0);
                            foreach (var item1 in lists1)
                            {
                                <li role="presentation">
                                    @Html.ActionLink(item1.category_name, "CategoryList" , "Product" , new { id = item1.category_no }, new { @class = "nav-link js-scroll-trigger atextcolor" })
                                    
                                </li>

                            }
                        }
                    </ul>
                </li>
                <li class="nav-item text-info">
                    <a class="nav-link js-scroll-trigger atextcolor" href="#">營火傳遞</a>
                </li>
                <li class="nav-item text-info">
                    <a class="nav-link js-scroll-trigger atextcolor"
                       href="#"
                       aria-disabled="true">關於我們</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                @if (CustomerAccount.IsLogin)
                {
                    <li class="nav-item">
                        <span class="nav-link">@CustomerAccount.CustomerInfo</span>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("登出", "Logout", "Customer", null, new { @class = "nav-link" })
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        @Ajax.ActionLink("登入", "Login", "Customer", null, new AjaxOptions { OnSuccess = "showDialogLogin", HttpMethod = "GET" }, new { @class = "nav-link" })
                    </li>

                }

            </ul>
        </div>
    </nav>

    <div class="modal fade mt-5" id="showLogin"></div>
    <div class="modal fade" id="showRegister"></div>

    @*@Html.ActionLink("登入", "Login", "Customer")*@



    @RenderBody()

    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">
                &copy; @DateTime.Now.Year - Start Bootstrap
            </div>
        </div>
    </footer>



    @*<script src="@Url.Content("~/Scripts/camping/bootstrap.bundle.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/camping/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/camping/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

</body>
</html>
