@using campingplan.App_Class;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>

    <link href="@Url.Content("~/Content/camping/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker3.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/easion/css/easion.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src=@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/camping/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/locales/bootstrap-datepicker.zh-TW.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment-with-locales.min.js")">55</script>
    <script src="@Url.Content("~/easion/js/easion.js")"></script>
    <script src="@Url.Content("~/Scripts/Chart.min.js")"></script>
    <script src="@Url.Content("~/easion/js/chart-js-config.js")">55</script>

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                @Html.ActionLink("廠商專區", "Index", "Vendor", new { Area = "Vendor" }, new { @class = "easion-logo side-logo" })
            </header>
            <nav class="dash-nav-list">
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-shopping-cart"></i> 廠商訂單查詢
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("未結訂單查詢", "Index", "Orders", new { Area = "Vendor", id = 0 }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("歷史訂單查詢", "Index", "Orders", new { Area = "Vendor", id = 1 }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-shopping-cart"></i> 商品資料管理
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("商品資料維護", "Index", "Products", new { Area = "Vendor" }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-item dash-nav-dropdown-toggle side-menu">
                        <i class="fas fa-user"></i> 帳號資料管理
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        @Html.ActionLink("帳號明細", "VendorProfile", "Vendor", new { Area = "Vendor" }, new { @class = "dash-nav-dropdown-item side-menu" })
                        @Html.ActionLink("重設密碼", "ResetPassword", "User", new { Area = "" }, new { @class = "dash-nav-dropdown-item side-menu" })
                    </div>
                </div>
                <a href="/User/Login" class="dash-nav-item side-menu">
                    <i class="fas fa-sign-out-alt"></i> 退出廠商專區
                </a>
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <h3><span class="side-position">目前位置：</span><b>@ViewBag.Title</b></h3>
                <div class="tools">
                    <table>
                        <tr>
                            <td>
                                <img src="@Url.Content(UserAccount.UserImageUrl)" class="user-logo-image" />
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td><span class="side-user">@UserAccount.UserNo</span><br /></td>
                                    </tr>
                                    <tr>
                                        <td><span class="side-user">@UserAccount.UserName</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </header>
            <main class="dash-content">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
