@model IEnumerable<campingplan.Models.product>
@using campingplan.App_Class;
@{
    ViewBag.Title = "Home Page";
}


<style>
    #carousel-1,
    #carousel-2,
    #carousel-3 {
        padding-top: 20rem;
        padding-bottom: calc(20rem - 4.5rem);
    }

    #carousel-1 {
        background: linear-gradient( to bottom, rgba(92, 77, 66, 0.3) 0%, rgba(92, 77, 66, 0.3) 100% ), url("@Url.Content("../Content/images/indexbg/01.jpg")");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    #carousel-2 {
        background: linear-gradient( to bottom, rgba(92, 77, 66, 0.3) 0%, rgba(92, 77, 66, 0.3) 100% ), url("@Url.Content("../Content/images/indexbg/02.jpg")");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    #carousel-3 {
        background: linear-gradient( to bottom, rgba(92, 77, 66, 0.3) 0%, rgba(92, 77, 66, 0.3) 100% ), url("@Url.Content("../Content/images/indexbg/03.jpg")");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    .carousel-caption {
        top: 22%;
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0vmin 6vmin;
        overflow: hidden;
        transform: skew(5deg);
    }

        .container2 .card {
            flex: 1;
            transition: all 1s ease-in-out;
            height: 75vmin;
            position: relative;
        }

            .container2 .card .card__head {
                color: black;
                background: rgba(2, 177, 247, 0.75);
                padding: 0.5em;
                transform: rotate(-90deg);
                transform-origin: 0% 0%;
                transition: all 0.5s ease-in-out;
                min-width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 1em;
                white-space: nowrap;
            }

            .container2 .card:hover {
                flex-grow: 10;
            }

                .container2 .card:hover img {
                    filter: grayscale(0);
                }

                .container2 .card:hover .card__head {
                    text-align: center;
                    top: calc(100% - 2em);
                    color: white;
                    background: rgba(0, 0, 0, 0.5);
                    font-size: 1.5em;
                    transform: rotate(0deg) skew(-5deg);
                }

            .container2 .card img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 1s ease-in-out;
                filter: grayscale(100%);
            }

            .container2 .card:not(:nth-child(5)) {
                margin-right: 1em;
            }

    .divider {
        max-width: 15rem;
        border-width: 0.2rem;
        border-color: rgb(7, 161, 189);
    }

    .i-size {
        font-size: 4rem;
        color: rgb(7, 161, 189);
    }

    .pr_loction_des {
        color: rgb(110, 109, 109);
    }

    .pr_campitem {
        list-style: none;
        display: inline-block;
        width: 6rem;
        height: 3rem;
        border: 1px solid black;
        font-size: 15px;
        text-align: center;
    }

    .pr_camptype {
        list-style: none;
        display: inline-block;
        width: 4rem;
        height: 1rem;
        border: 1px solid rgb(110, 109, 109);
        border-radius: 30px 30px 30px 30px;
        font-size: 13px;
        text-align: center;
        padding-bottom: 1rem;
        color: rgb(110, 109, 109);
    }

    .pr_carditem {
        transition: all 0.5s;
    }

        .pr_carditem:hover {
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
            transform: translate3d(0, -1rem, 0);
            /*transform: scale(1.5,1.5);*/
            /*transform: skew(30deg,0);*/
        }

    .pr_type_loction {
        border-radius: 30px 30px 30px 30px;
    }

    .title {
        opacity: 0;
        bottom: -40px;
        position: relative;
        animation: showdiv 0.7s linear forwards;
    }

    @@keyframes showdiv {
        from {
            bottom: -40px;
        }

        to {
            opacity: 1;
            bottom: 0px;
        }
    }

.arrow {
  position: absolute;
  left: 49%;
  top: 80%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-60%, -50%, 0);
          transform: translate3d(-60%, -50%, 0);
}

.arrow-1 {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-2 {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
    #tm-section-5 {
        background-image: url(@Url.Content("../Content/images/bg/bg-6.jpg"));
    }

    .bigbg{
        background: linear-gradient( to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100% ), url("@Url.Content("../Content/images/bg/bg-5.jpg")");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }


    .carousel-control-prev, .carousel-control-next {
        width: 68px;
        background: none;
    }

        .carousel-control-prev i, .carousel-control-next i {
            font-size: 28px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin-top: -15px;
            z-index: 5;
            left: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
        }

        .carousel-indicators li, .carousel-indicators li.active {
            width: 10px;
            height: 10px;
            border: none;
            border-radius: 50%;
            margin: 1px 4px;
            box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
        }

        .carousel-indicators li {
            background: #999;
            border-color: transparent;
        }

            .carousel-indicators li.active {
                background: #555;
            }





    @@-webkit-keyframes arrow-movement {
        0% {
    opacity: 0;
    top: 60%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

 @@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 65%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>


<header class="masthead">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="carousel slide"
                     data-ride="carousel"
                     data-interval="3000"
                     id="picShow">
                    <ul class="carousel-indicators py-5">
                        <li data-target="#picShow"
                            data-slide-to="0"
                            class="active aaa"></li>
                        <li data-target="#picShow" data-slide-to="1" class="aaa"></li>
                        <li data-target="#picShow" data-slide-to="2" class="aaa"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row h-100 align-items-center justify-content-center text-center title">
                                    <div class="col-lg-10 align-self-start">
                                        <h1 class="text-uppercase text-white font-weight-bold"
                                            style="text-shadow: 2px 2px #444">
                                            現在出發去
                                        </h1>
                                        <h1 class="text-uppercase text-white font-weight-bold"
                                            style="text-shadow: 2px 2px #444; font-size: 1000%;">
                                            露營
                                        </h1>
                                    </div>
                                    <div class="col-lg-12 align-self-baseline">
                                        <p class="font-weight-light mb-5">
                                            Now go out and get a new one !
                                        </p>
                                    </div>
                                   
                                    @Html.ActionLink("找營地", "CategoryList", "Product", new { id = "A" }, new { @class = "mt-5 col-lg-2 btn btn-info text-white bt" })
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item vh-100 active" id="carousel-1"></div>
                        <div class="carousel-item vh-100" id="carousel-2"></div>
                        <div class="carousel-item vh-100" id="carousel-3"></div>
                        <a href="#picShow"
                           data-slide="prev"
                           class="carousel-control-prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#picShow"
                           data-slide="next"
                           class="carousel-control-next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                        <div class="arrow arrow-1"></div>
                        <div class="arrow arrow-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container pt-3 pb-5">
    <div class="row mb-4">
        <div class="col-lg-12 text-center mt-5"><h4>露營輕鬆有趣</h4></div>
        <hr class="col-lg-12 divider mt-0" />
    </div>
    <div class="row text-center">
        <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fas fa-campground fa-7x text-info mb-3"></i>
            <h4 class="text-info">找營地輕輕鬆鬆</h4>
            <p>時間、特色、地點多元化搜尋功能，</br>讓您找到心目中的好營地。</p>
            @Html.ActionLink("看更多", "CategoryList", "Product", new { id = "A" }, new { @class = "col-6 btn btn-warning text" })
        </article>
        <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fas fa-toolbox fa-7x text-info mb-3"></i>
            <h4 class="text-info">裝備品質有保證</h4>
            <p>露營設備均通過國家試驗，</br>售出均有三年以上保固，安心看的見。</p>
            @Html.ActionLink("看更多", "CategoryList", "Product", new { id = "B" }, new { @class = "col-6 btn btn-warning text" })
        </article>
        <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fas fa-ticket-alt fa-7x text-info mb-3"></i>
            <h4 class="text-info">體驗行程一把抓</h4>
            <p>各式室內戶外體驗通通都有，</br>旅遊行程共同規劃一次完成，簡單輕鬆。</p>
            @Html.ActionLink("看更多", "CategoryList", "Product", new { id = "C" }, new { @class = "col-6 btn btn-warning text" })
        </article>
    </div>
</div>

<div class="container-fluid bigbg mt-4">
    <div class="container py-5">
        <div class="row text-center py-5">
            <div class="offset-1 col-10">
                <h2 class="text-white font-weight-bold">「全方位的服務，只是為了讓您在那一段相聚的時光裡，<br />留下一次美好的旅遊回憶」</h2>
            </div>
            <div class="offset-8 col-4">
                <p class="text-white font-weight-bold">By 營火計畫創始人 Molly</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light pt-2">
    <div class="row">
        <div class="col-lg-12 text-center mt-5"><h4>熱門營地</h4></div>
        <hr class="col-lg-12 divider mt-0" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12  mx-auto">
                <div id="myCarousel" class="col-10 offset-1 carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">

                        @{
                            var mList = Model.ToList();
                            for (var i = 0; i < mList.Count(); i++)
                            {
                                var class_str = "carousel-item" + (i == 0 ? " active" : "");
                                <div class="@class_str">
                                    <div class="row">
                                        @{
                                            for (var j = 0; i < mList.Count() && j < 3; j++)
                                            {
                                                var item = mList[i];
                                                <div class="col-12 col-lg-4">
                                                    @{
                                                        string productimgname = string.Format("{0}/{0}.jpg", @item.pimg);
                                                    }
                                                    <div class="title mb-5 searchcontent">
                                                        <a href="@Url.Action("ProductDetail", "Product", new { id = item.pno, startday = ViewBag.startday, endday = ViewBag.endday, qty = ViewBag.qty })">
                                                            <div class="card pr_carditem">
                                                                <img class="card-img-top"
                                                                     src="~/Content/images/product/@productimgname"
                                                                     alt="Card image cap" />
                                                                <div class="card-body">
                                                                    <p class="pr_loction_des small m-0 pb-2">
                                                                        <i class="fas fa-map-marker-alt text-info pr-2"></i>@item.plocation
                                                                    </p>
                                                                    <h5 class="card-title font-weight-bold text-dark">@item.pname</h5>
                                                                    <ul class="p-0">
                                                                        @foreach (var f in Shop.GetFeatureList(item.product_features))
                                                                        {
                                                                            <li class="pr_camptype align-self-center justify-content-center">
                                                                                <span>@f</span>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                    <hr />
                                                                    <div class="row align-items-center">
                                                                        <p class="col-4 text-warning m-0">
                                                                            <i class="fas fa-star pr-1"></i>4.5
                                                                        </p>
                                                                        <p class="col-8 text-info font-weight-bold h4 text-right">
                                                                            $NT @item.min_price
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev mr-5" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a class="carousel-control-next ml-5" href="#myCarousel" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container vh-100">
    <div class="row">
        <div class="col-lg-12 text-center mt-5"><h4>露營行程推薦</h4></div>
        <hr class="col-lg-12 divider mt-0" />
        <div class="col-lg-12 container2">
            <div class="card">
                <img src="@Url.Content("../Content/images/trip/north.jpg")">
                <div class="card__head">北部行程推薦</div>
            </div>
            <div class="card">
                <img src="@Url.Content("../Content/images/trip/central.jpg")">
                <div class="card__head">中部行程推薦</div>
            </div>
            <div class="card">
                <img src="@Url.Content("../Content/images/trip/south.jpg")">
                <div class="card__head">南部行程推薦</div>
            </div>
            <div class="card">
                <img src="@Url.Content("../Content/images/trip/east.jpg")">
                <div class="card__head">東部行程推薦</div>
            </div>
            <div class="card">
                <img src="@Url.Content("../Content/images/trip/north.jpg")">
                <div class="card__head">離島行程推薦</div>
            </div>
        </div>
    </div>

</div>


<div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
    <div class="container ie-h-align-center-fix">
        <div class="row tm-flex-align-center">
            <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">
                <h4 class="text-uppercase tm-section-title-2">新手攻略</h4>
                <h5 class="text-info tm-font-semibold tm-section-subtitle-2">
                    三大神器
                </h5>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
                <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
                    <article class="media tm-margin-b-20 tm-media-1">
                        <img src="@Url.Content("../Content/images/tool/01.jpg")" alt="Image" style="height:150px;" />
                        <div class="media-body tm-media-body-1 tm-media-body-v-center">
                            <h3 class="tm-font-semibold text-info tm-article-title-3">
                                帳篷
                            </h3>
                            <p>
                                帳篷的選擇多從「可容納人數」著手，若4 人出遊便建議挑選 6 人帳篷，帳內空間較為舒適。其他選帳篷的重點：是否容易搭設、價格、防水係數、收納尺寸、支柱材料、帳篷高度、重量。
                            </p>
                        </div>
                    </article>
                    <article class="media tm-margin-b-20 tm-media-1">
                        <img src="@Url.Content("../Content/images/tool/02.jpg")" alt="Image" style="height:150px;" />
                        <div class="media-body tm-media-body-1 tm-media-body-v-center">
                            <h3 class="tm-font-semibold  text-info tm-article-title-3">
                                睡袋
                            </h3>
                            <p>
                                怕冷的朋友則可以選擇舒適低溫-5以下的睡袋。 由於台灣大部份都是高濕度環境，在這種環境下會容易產生水寒效應，因為空氣中的水氣會帶走一些身上的溫度，所以會感覺更冷。
                            </p>
                        </div>
                    </article>
                    <article class="media tm-margin-b-20 tm-media-1">
                        <img src="@Url.Content("../Content/images/tool/03.jpg")" alt="Image" style="height:150px;" />
                        <div class="media-body tm-media-body-1 tm-media-body-v-center">
                            <h3 class="tm-font-semibold text-info tm-article-title-3">
                                卡斯爐
                            </h3>
                            <p>
                                一般的卡式瓦斯爐尺寸為30×30cm，不過若是人數較多、欲使用的鍋具較大，則建議選擇50×30cm 的大尺寸。 如果鍋身超出爐口，可能會造成瓦斯罐積熱進而導致氣體膨脹產生事故；反之，過小則會使火源不穩定。
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid p-0">
    <div class="col p-0">
        <div class="embed-responsive embed-responsive-21by9">
            <video src="@Url.Content("../Content/video/campingvideo.mp4")"
                   autoplay
                   loop
                   muted
                   class="embed-responsive-item"></video>
        </div>
    </div>
</div>








