@using PagedList.Mvc
@using PagedList
@model IPagedList<campingplan.Models.product>
@using campingplan.App_Class;

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $(document).ready(function () {
            $("#myTab a:first").click(function () {
                $("#tabmenu1").addClass("fade");
                $("#searchString").val("");
                $(".masthead").focus();
            });

            $("#checkDate").flatpickr({
                minDate: "today",
                maxDate: new Date().fp_incr(90),
                dateFormat: "Y-m-d",
                mode: "range"
            });


        });
    </script>
    <script>
        function submitLocationForm(loc){
            $('#locationSearch').val(loc);
            $('#location_form').submit();
        }
    </script>
}
@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        * {
            font-family: 微軟正黑體;
            list-style: none;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        .masthead {
            padding-top: 10rem;
            padding-bottom: calc(18rem - 4.5rem);
            background-image: url(../../Content/images/bg/bg-2.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: auto;
            height: 62vh;
        }

        .navbar {
            -webkit-box-shadow: 0 8px 6px -6px #444;
            -moz-box-shadow: 0 8px 6px -6px #555;
            box-shadow: 0 8px 6px -6px #777;
        }

        /* pr 單商品card CSS */
        .pr_loction_des {
            color: rgb(110, 109, 109);
        }

        .pr_campitem {
            list-style: none;
            display: inline-block;
            width: 6rem;
            height: 3rem;
            border: 1px solid black;
            font-size: 15px;
            text-align: center;
        }

        .pr_camptype {
            list-style: none;
            display: inline-block;
            width: 4rem;
            height: 1rem;
            border: 1px solid rgb(110, 109, 109);
            border-radius: 30px 30px 30px 30px;
            font-size: 13px;
            text-align: center;
            padding-bottom: 1rem;
            color: rgb(110, 109, 109);
        }

        .pr_carditem {
            transition: all 0.5s;
        }

            .pr_carditem:hover {
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
                transform: translate3d(0, -1rem, 0);
                /*transform: scale(1.5,1.5);*/
                /*transform: skew(30deg,0);*/
            }

        .pr_type_loction {
            border-radius: 30px 30px 30px 30px;
        }

        .pr_line {
            background-image: linear-gradient(#14b9eb, #14b9eb);
            background-position: left bottom;
            background-size: 0 2.5px;
            background-repeat: no-repeat;
            transition: all 0.15s;
        }

            .pr_line:hover {
                background-size: 100% 2.5px;
                border: none;
            }

        .nav-tabs .nav-link.active {
            background-color: rgba(255, 255, 255, 0);
        }

        .pr_type_sea_boder {
            border-radius: 5px;
        }

        .text-uppercase {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .card {
            overflow: hidden;
        }

        img {
            transition: all 0.5s;
        }

            img:hover {
                transform: scale(1.1);
            }

        .searchtitle {
            opacity: 0;
            animation: fadeInBig 0.5s linear forwards;
            -webkit-animation: fadeInBig 0.5s linear forwards;
        }

        @@keyframes fadeInBig {
            from {
                opacity: 0;
                transform: scale(0);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        .searchcontent {
            opacity: 0;
            bottom: -40px;
            position: relative;
            animation: showdiv 0.7s linear forwards;
        }

        @@keyframes showdiv {
            from {
                bottom:-40px;
            }

            to {
                opacity: 1;
                bottom: 0px;
            }
        }



        @@media screen and (max-width: 572px) {
            .pr_type_loction_lg {
                display: none;
            }
        }

        @@media screen and (max-width: 992px) {
            .pr_type_loction_sm {
                display: none;
            }

            .masthead {
                padding-top: 10rem;
                padding-bottom: calc(18rem - 4.5rem);
                background-image: url(../../Content/images/bg/bg-2.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: auto;
                height: 90vh;
            }
        }
    </style>
}


<header class="masthead mb-3">
    <div class="container ">
        <div class="row text-center align-self-center justify-content-center">
            <div class="col-12 col-lg-12">
                <div class="offset-4 col-4 col-lg-4 mb-2 searchtitle">
                    <h3 class="text-uppercase font-weight-bold text-white">露營地</h3>
                </div>
            </div>

            <div class="col-8 col-lg-8">
                <ul id="myTab" class="nav nav-tabs border-0">
                    <li class="nav-item offset-lg-3 col-lg-3 p-lg-0 col-12 col-md-6">
                        <a class="pr_line nav-link text-white border-0 mb-2 font-weight-bold"
                           data-toggle="tab"
                           href="#tabmenu1">關鍵字搜尋</a>
                    </li>
                    <li class="nav-item col-lg-3 p-lg-0 col-md-6">
                        <a class="pr_line nav-link text-white border-0 mb-2 font-weight-bold"
                           data-toggle="tab"
                           href="#tabmenu2">分類搜尋</a>
                    </li>
                </ul>

                <div class="col-lg-12 p-0">
                    @using (Html.BeginForm("CategoryList", "Product", FormMethod.Post))
                    {

                        <div class="bg-white pb-2">
                            <div class="row d-flex pt-2">
                                <div class="col-12 col-lg-8">
                                    <i class="far fa-calendar-alt pl-lg-2"></i>
                                    <div class="d-inline-block col-11">
                                        @Html.TextBox("dateSearch", null, new { @class = "form-control", @id = "checkDate" })
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 mt-2 mt-lg-0 text-left">
                                    <i class="fas fa-campground pl-lg-1 pr-lg-0 px-2"></i>
                                    <select id="stock_qty" name="stock_qty" class="form-control d-inline-block col-10 col-lg-10">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div id="tabmenu1" class="tab-pane">
                                    <div class="col-12 col-lg-12 p-0">
                                        <div class="input-group my-2">
                                            @Html.TextBox("searchString", null, new { @class = "form-control col-lg-12 mx-3 mt-3", @placeholder = "請輸入關鍵字" })
                                        </div>
                                    </div>
                                </div>
                                <div id="tabmenu2" class="tab-pane fade">
                                    <div class="col-12 col-lg-12 bg-white pt-3">
                                        <ul class="row">
                                        @{
                                            foreach (var f in Shop.GetFeatureDict())
                                            {
                                                <li class="col-6 col-lg-3 col-md-4 small text-left">@Html.CheckBox(@f.Value, false) @f.Value</li>
                                            }
                                        }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-info btn-block m-0 col-12" value="搜尋" />
                    }
                </div>
            </div>
        </div>
    </div>
</header>
<div class="pr_type_loction_lg mb-4 text-center searchcontent">
    @using (Html.BeginForm("CategoryList", "Product", FormMethod.Post, new { id = "location_form" }))
    {
        <input type="hidden" id="newSearch" name="newSearch" value="false"/>
        <input type="hidden" id="locationSearch" name="locationSearch" value=""/>
        <ul class="p-0">
        <input type="button" onclick="submitLocationForm('all')" class="pr_type_loction btn btn-outline-info d-inline-block mr-2 mt-sm-1" value="全部" />
        @foreach (var f in Shop.GetFeatureDict(1))
        {
            <input type="button" onclick="submitLocationForm('@f.Key')" class="pr_type_loction btn btn-outline-info d-inline-block mr-2 mt-sm-1" value="@f.Value" />
        }
       </ul>
    }
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            string productimgname = string.Format("{0}/{0}.jpeg", @item.pimg);
            <div class="title col-12 col-md-6 col-lg-4 mb-5 searchcontent">
                <a href="@Url.Action("ProductDetail","Product",new { id = item.pno, startday = ViewBag.startday, endday = ViewBag.endday, qty = ViewBag.qty })">
                    <div class="card pr_carditem">
                        <img class="card-img-top"
                             src="~/Content/images/product/@productimgname"
                             alt="Card image cap" />
                        <div class="card-body">
                            <p class="pr_loction_des small m-0 pb-2">
                                <i class="fas fa-map-marker-alt text-info pr-2"></i>@item.plocation
                            </p>
                            <h5 class="card-title font-weight-bold text-dark">@item.pname</h5>
                            <ul class="p-0">
                                @foreach (var f in Shop.GetFeatureList(item.product_features))
                                {
                                    <li class="pr_camptype align-self-center justify-content-center">
                                        <span>@f</span>
                                    </li>
                                }
                            </ul>
                            <hr />
                            <div class="row align-items-center">
                                <p class="col-4 text-warning m-0">
                                    <i class="fas fa-star pr-1"></i>4.5
                                </p>
                                <p class="col-8 text-info font-weight-bold h4 text-right">
                                    $NT @item.min_price
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
        <div class="col-12">
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("CategoryList", "Product", new { @page = page, @isNew = false}))
            </div>
        </div>
    </div>
</div>
